@model IEnumerable<MyClass.Model.Menus>
@using THPTUDWeb.Library

<style>
    #search-box {
        background: #fff;
        border-radius: 30px;
    }

    #search-box #search-text {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        width: 0;
        padding: 0;
        transition: all 0.25s ease-in-out;
    }

    #search-box:hover #search-text, #search-box #search-text:valid {
        width: 300px;
        padding: 10px 15px 10px 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    #search-box #search-btn {
        background-color: none;
        border: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 18px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand logo_h" href="https://localhost:44384/"><img src="~/Public/img/logo2.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">

            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                @*Trang chu*@
                <li class="nav-item"><a class="nav-link" href="https://localhost:44384/">TRANG CHỦ</a></li>
                @*Loai san pham*@
                @foreach (var item in Model)
                {
                    if (item.TypeMenu == "topic")
                    {
                        @Html.Action("MainMenuSub", "Module", new { @id = @item.Id });
                    }
                }
                @*Menu tuy chon*@
                @foreach (var item in Model)
                {
                    if (item.TypeMenu == "custom")
                    {
                        <li class="nav-item">
                            <a class="nav-link text-uppercase active" href="@item.Link">@item.Name</a>
                        </li>
                    }

                }
            </ul>

            <ul class="nav-shop">
                @*neu gio hang khac null*@
                @{
                    int soluong = 0;
                    var cartSession = System.Web.HttpContext.Current.Session["MyCart"] as List<CartItem>;
                    if (cartSession != null)
                    {

                        soluong = cartSession.Count;
                    }
                }
                <li class="nav-item">
                    <form action="@Url.Action("Index","Timkiem")" method="post" id="search-box">
                        <input type="text" id="search-text" name="searchString" placeholder="Bạn cần tìm gì?" required>
                        <button id="search-btn"><i class="ti-search"></i></button>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="~/gio-hang">
                        <i class="ti-shopping-cart"></i><span class="nav-shop__circle">@soluong</span>
                    </a>
                </li>
                <li class="nav-item">
                    @if (Session["UserCustomer"] == null)
                    {
                        <a href="~/dang-nhap"><i class="ti-user"></i>&nbsp;&nbsp;<span>Đăng nhập</span></a>
                    }
                    else
                    {
                        <span>Xin chào, @Session["UserCustomer"]</span><br />
                        <a href="/dang-xuat">Đăng xuất</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>
