<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Home</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="Public/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Public/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="Public/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="Public/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="Public/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="Public/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="Public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="Public/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="Public/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="Public/vendors/skrollr.min.js"></script>
    <script src="Public/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="Public/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="Public/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="Public/vendors/mail-script.js"></script>
    <script src="Public/js/main.js"></script>

    @RenderSection("header", required: false)
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            @Html.Action("MainMenu", "Module")
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================ BODY trỏ về trang Index =================-->
    <main class="site-main">
        <section class="body-content clearfix">@RenderBody()</section>
    </main>
    <!--================ End BODY Area =================-->
    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Technology Store</h4>
                            <p>Đây là trang web Demo cho bài thi Phát triển Ứng Dụng Web của Nguyễn Khắc Duy Hưng</p>
                            <div class="social mb-5" style="font-size: 25px; color: #A7B1BE">
                                <i class="fa-brands fa-dribbble pr-4"></i>
                                <i class="fa-brands fa-github pr-4"></i>
                                <i class="fa-brands fa-instagram pr-4"></i>
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                    @Html.Action("MenuFooter", "Module")
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ với chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    ĐẠI HỌC NHA TRANG
                                </p>
                                <p>Nha Trang, Khánh Hoà</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Số điện thoại
                                </p>
                                <p>
                                    +01 234 56789 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Địa chỉ Email
                                </p>
                                <p>
                                    hung.nkd.63cntt@ntu.edu.vn <br>
                                    technologyvn@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <h5 class="mb-4" style="color: white;">Chính sách</h5>
                        <h6 style="color: white; margin-bottom: 20px">Chính sách thanh toán</h6>
                        <h6 style="color: white; margin-bottom: 20px ">Chính sách đổi trả hàng</h6>
                        <h6 style="color: white; margin-bottom: 20px ">Chính sách khách vip</h6>
                        <h6 style="color: white; margin-bottom: 20px ">Chính sách bảo mật thông tin cá nhân</h6>
                        <h6 style="color: white; margin-bottom: 20px ">Chính sách vận chuyển</h6>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-between">
                <button type="button" name="" id="" class="btn text-light" style="background-color:cornflowerblue; padding: 10px 10px; font-weight: 500; border-top-left-radius: 30px; border-bottom-right-radius: 30px;">HOTLINE: +01 234 5678</button>
                <i class="fa-brands fa-facebook-messenger" style="color: #fff; font-size: 40px; background-color: #0A7CFF; padding: 10px; border-radius: 50%;"></i>
            </div>
        </div>
        @RenderSection("footer", required: false)
    </footer>
    <!--================ End footer Area  =================-->

</body>
</html>
